@use 'sass:math';
@use '$lib/styling/breakpoints';
@use '$lib/styling/typography';
@use '$lib/styling/colors';

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	font-family: sans-serif;
	font-size: 1rem;
	color: #3e3e3e;
	background-color: #fff;
	// font-family: 'Raleway', sans-serif;
	font-family: 'Work Sans', sans-serif;

	font-weight: 300;
}

img {
	max-width: 100%;
}

// grid system

$bleed: (
	small: 30px,
	medium: 64px,
	large: 3vw //large: 2.0834vw
);

$columns: 18;
$gutters: (
	small: 10px,
	medium: 20px,
	large: 2vw
);

:root {
	@each $breakpoint, $gutter in $gutters {
		@include breakpoints.mq($breakpoint) {
			--gutter: #{$gutter};
		}
	}

	@each $breakpoint, $b in $bleed {
		@include breakpoints.mq($breakpoint) {
			--bleed: #{$b};
			--bleed-negative: #{-$b};
		}
	}
}

// Grid
.container {
	margin: auto;
	max-width: 1200px;
	padding-left: var(--bleed);
	padding-right: var(--bleed);
	border-bottom: rgb(228, 228, 228) solid 1px;
	&--negative {
		margin-left: var(--bleed-negative);
		margin-right: var(--bleed-negative);
	}
}
section {
	padding-bottom: 4em;
	padding-top: 4em;
}
//buttons

button,
.btn {
	background-color: colors.$primary;
	color: #fff;
	padding: 1.2em;
	border-radius: 20px;
	font-size: 1em;
	cursor: pointer;
	margin: 2em auto;
	display: block;
	max-width: 300px;
}

button:focus,
button:hover,
.btn:hover {
	background: mix(#fff, colors.$primary, 10%);
}

button:active {
	transform: scale(1);
}

.flex {
	display: flex;
	flex-direction: column;
	gap: 3em;
	@include breakpoints.mq(medium) {
		flex-direction: row;
		justify-content: center;
		// align-items: center;
	}

	img,
	p,
	div {
		flex: 1;
		max-width: 350px;
		margin: auto;
	}
}
